*
{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

::selection 
{
  color:#fff;
  background: #AFEEEE; /* Safari */
}

::-moz-selection 
{
  color:#fff;
  background: #AFEEEE; /* Firefox */
}


/*ANIMATIONS*/
@-webkit-keyframes flyIn
{
  from {padding: 0vh 80px 0px 80px;}
  to {padding: 45vh 80px 0px 80px;}
}
@keyframes flyIn
{
  from {padding: 0vh 80px 0px 80px;}
  to {padding: 45vh 80px 0px 80px;}
}

@-webkit-keyframes fade
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fade
{
  from {opacity: 0;}
  to {opacity: 1;}
}


/*BASICS*/
h1
{
  margin: 0;
  padding: 20px;
}

h2
{
  margin: 0;
  padding: 20px;
}

h3
{
  margin: 0;
  padding: 20px;
}

em
{
  margin: 0;
  padding: 20px;
}

body 
{
  margin: 0px;
  background-color: #fff;
}


/*NAVIGATION*/

.navbar {
  
    background-color: black;

    
}

.nav-link,
.navbar-brand {
    color: #FFE4B5;
    cursor: pointer;

}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: blue;
}

.navbar-collapse {
    justify-content: flex-end;
}

a{
  color: #FFE4B5;
font-family: 'Neucha', cursive;
  font-size: 25px;
  
}


/*PAGES*/
.page-container
{
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  width:100%;
    
}

.section
{
  margin: 0;
  min-height: 100vh;
  height: auto;
}

/*logo*/
img.circle {
    float: left;
    height: 80px;
    width: 80px;
    zoom: 1;
    z-index: 0;
    margin-right: 100px;
  }
/*/logo*/


/*welcome*/
.welcome
{
  background-color: black;
  background-image: url("");
  background-repeat:no-repeat;
  background-position:left top;
    
}
.welcome h1
{
  padding: 45vh 80px 0px 80px;
  font-family: 'Neucha', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFE4B5;
  
  -webkit-animation: flyIn 2s, fade 2s;
  animation: flyIn 2s, fade 2s;
}
.welcome em
{
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}
.welcome h2
{
  padding: 16px 25% 0 80px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 35px;
  line-height: 120%;
  text-transform: none;
  color: #fff;
  -webkit-animation: fade 2s;
  animation: fade 2s;
}
.welcome h3
{
  padding: 16px 10% 50px 80px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 100%;
  text-transform: none;
  color: #F4A460;
  -webkit-animation: fade 2s;
  animation: fade 2s;
}


/* settings for parallax */
.welcome {
 background: url('/images/gg.jpeg') ;
 background-repeat:no-repeat;
 background-size:cover; 
 background-attachment: fixed;
 transition:.4s ease-in-out;
    position: relative;
    z-index: -200;

}


.birdsnest {
    position: absolute;
    left: 45%;
    top: 48%;
    transform: translate(0, 0) scale(.83);
    width: 200px;
    height: 200px;
    pointer-events: none;
    z-index: 1;
    
}

.birdsnest .bird {
    animation: bird 3s ease-in-out infinite;
}

 .bird__body {
    width: 612px;
    height: auto;
}

.birdsnest .bird__head {
    position: absolute;
    top: -300px;
    left: -330px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transform-origin: 190% 50%;
    animation: nod 3s ease-in-out infinite .5s;
    z-index: 2;
}


@keyframes bird {
    0% {
        transform: translate(0, -47%)
    }
    50% {
        transform: translate(0, -53%)
    }
    100% {
        transform: translate(0, -47%)
    }
}

@keyframes nod{
    0%{
        transform:rotate(-2deg)
    }
    50%{
        transform:rotate(1deg)
    }
    100%{
        transform:rotate(-2deg)
    }
}
/*/welcome*/



/*about*/
.about
{
  background-color: snow;
}

article{
  width:90%;
  margin:0 auto;
  padding-top: 50px;
    padding-bottom: 0px;
  background:snow;
    

}

article h1{
  font-family: 'Neucha', cursive;
  font-size:72px;
  text-align:left;
  text-transform:uppercase;
  letter-spacing:4px;
  word-spacing:10px;
  margin-top:40px;
  margin-bottom: 0px;
color: #F4A460;
}
.col-xs-4

.meta{
  border-top:1px solid #333;
  text-align:center;
 
}

header{
  margin-bottom:0px;
}
section .columns{

    padding-bottom: 100px;
    
}
.columns p{
  font-size:18px;
  margin: 0 0 10px 0;
    -webkit-column-count:2;  
    -moz-column-count:2;  
    column-count:1;  
font-family: 'Montserrat', sans-serif;
}


blockquote{
  -moz-column-span:all;
  -webkit-column-span:all;
  column-span:all;
  font-family: 'Neucha', cursive;
  font-size:32px;
  font-weight:normal;
  border-top:3px solid #333;
  border-bottom:3px solid #333;
  padding:15px 0;
    margin-top: 30px;
    margin-bottom: 30px;
  
}
/*/about*/


/*foto*/
.foto
{
  background-color: snow;
  padding-top: 40px;
    padding-bottom: 30px;
}


/*/foto*/


/*best*/
.best
{
  background-color: snow;
}

.showcase 
.showcase-text{padding:3rem;  font-family: 'Montserrat', sans-serif; }
.showcase 
.showcase-img{min-height:30rem;
    background-size:cover;
}
@media (min-width:768px)
{.showcase .showcase-text{padding:7rem}
}

h6{
    font-family: 'Neucha', cursive;
    font-size: 45px;
}
/*/best*/




/*demand*/
.cards{
display:flex;
    justify-content: center;
    margin-top: 0px;
    margin: 70px;
}

.card {
    background color: aqua;
    border-radius: 10px;
    margin: 0.4em 0.2em 0.2em 0.2em;
margin-bottom: 50px;
margin-right: 5px;
    margin-left: 20px;

}

.miniatura{
        background color: bisque;
        display: flex;
        justify-content: center;
    border-radius: 10px 10px 0 0;}

.card img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 20px;
 
}
        

.card-content p{    
        padding: 0.5em 0.8em 0.5em 0.8em;
        color: lighten($color1, 80%);
    margin: 10px;
        font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  
}
h5{
    font-family: 'Neucha', cursive;
    font-size: 30px;
    text-align: center;
}
.demand
{
  background-color:snow;
}
/*/demand*/




/*gallery*/
.gallery
{
  background-color: snow;
}

.carousel{
	width: 100%;
	position: relative;
	padding-top: 60%;
	overflow: hidden;
}

.inner{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}

.slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	right:0;
	left:0;
	z-index: 1;
	opacity: 0;
}

.slide.active,
.slide.left,
.slide.right{
	z-index: 2;
	opacity: 1;
}
.js-reset-left{left:auto}

.slide.left{
	left:-100%;
	right:0;
}

.slide.right{
	right:-100%;
	left: auto;
}

.transition .slide.left{left:0%}
.transition .slide.right{right:0%}

.transition .slide.shift-right{right: 100%;left:auto}
.transition .slide.shift-left{left: 100%;right:auto}

.transition .slide{
	transition-property: right, left, margin;
}

.indicators{
  width:100%;
  position: absolute;
  bottom:0;
  z-index: 4;
  padding:0;
  text-align: center;
    
}

.indicators li{
	width: 13px;
	height: 13px;
	display: inline-block;
	margin: 5px;
	background: #fff;
	list-style-type: none;
	border-radius: 50%;
  cursor:pointer;
  transition:background 0.3s ease-out;
}

.indicators li.active{background:#F4A460}

.indicators li:hover{background-color:#2b2b2b}

.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover{border-color:#F4A460}

.arrow-left{
  left:20px;
  transform:rotate(225deg);
}

.arrow-right{
  right:20px;
  transform:rotate(45deg);
}

.slide{
	text-align:center;
  padding-top:25%;
  background-size:cover;
}


.slide:nth-child(1){
	background-image:url('/images/4.JPG');
 }

.slide:nth-child(2){
	background-image:url('/images/5.JPG');
}

.slide:nth-child(3){
	background-image:url('/images/6.JPG');
 }

.slide:nth-child(4){
	background-image:url('/images/7.jpg');
 }
.slide:nth-child(5){
	background-image:url('/images/8.JPG');
 }
.slide:nth-child(6){
	background-image:url('/images/9.JPG');
 }
/*/gallery*/





/*GRIDS*/
.grid
{
  overflow: hidden;
  width: 90%;
  padding: 20px 0px 0px 20px;
  margin: 0px auto;
}

.col
{
  float: left;
  padding-right: 20px;
}

.sixtySix
{
  width: 66.66%;
}

.thirtyThree
{
  width: 33.33%;
}

.fullWidth
{
  width:100%
}

.twentyFive
{
  width:25%
}

.half
{
  width: 50%;
}

.module
{
  padding: 20px;
  background-color: #313131;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}


/*SPACERS*/
.whiteSpace-small
{
  overflow: hidden;
  width: 100%;
  height: 10px;
}

.whiteSpace
{
  overflow: hidden;
  width: 100%;
  height: 20px;
}

.whiteSpace-medium
{
  overflow: hidden;
  width: 100%;
  height: 40px;
}

.whiteSpace-large
{
  overflow: hidden;
  width: 100%;
  height: 80px;
}

.whiteSpace-xLarge
{
  overflow: hidden;
  width: 100%;
  height: 160px;
}

.whiteSpace-xxLarge
{
  overflow: hidden;
  width: 100%;
  height: 320px;
}


